body {
  background-color: #fff;
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.background {
  background-image: url('../img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
}

.arrow {
  position: absolute;
  z-index: 2;
  cursor: move;
  width: 7%;
  top: 50%;
  left: 50%;
  object-fit: contain;
  margin: 0;
  transform: rotate(0);
}

.arrow img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.arrow--rotate {
  animation-name: rotate;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-iteration-count: 1;
}
