body {
  background-color: #fff;
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.background {
  background-image: url('../img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
}
.arrow {
  position: absolute;
  z-index: 2;
  cursor: move;
  width: 7%;
  top: 50%;
  left: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.arrow img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}
.arrow--rotate {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
